.full
{
    width: 100%;
    float: left;
    position: fixed;
    top: 0px;
    min-height: 53px;
    z-index: 99;

}
.background
{
    background-color:#d8d8d8;
    color: #605d5d;
}

.fd
{
    margin-right: 38px;
}
.ff
{
    font-size: 23px;
    margin-left: 48px;
}
.fg
{
    font-size: 23px;
}
.sd
{
    padding-top: 5px !important;

}
.sa
{
    padding-top: 17px !important;
}
.ff:hover,.fg:hover
{
color: white;
}
.ff:active,.fg:active
{
color: rgb(238, 13, 13);
}
