<div class="bgm col-xl-12 col-lg-12 col-md-12  leftalign">
<div class=" col-xl-12 col-lg-12 col-md-12 nopad leftalign ds ds1" >
    <div class="col-xl-7 col-lg-7 col-md-7  nopad leftalign">   
<h2 class="mn">Who We Are?</h2>
<h1 class="mn">We are obsessed with solving real world problems working in 5 time zones but with 1 vision</h1>
<p>InsuredMine is a technology company. We make leveraging agency data by agency users simple,
     easy, convenient, and intuitive. We are a team of young and smart technologists, writers, 
     thinkers and innovators from across the world, who share an intense passion-fueled drive to 
     bring simple solutions to complex problems that plague insurance agencies.
      By combining tools for sales, engagement, analytics,
     and mobility we are revolutionizing the policyholder experience and the agency KPI’s.</p>
</div>
<div class="col-xl-5 col-lg-5 col-md-5  nopad leftalign">

<div class="ee"></div>   
</div>

</div>
<br>
<div class="col-xl-12 col-lg-12 col-md-12 nopad leftalign ds">

<div class="col-xl-5 col-lg-5 col-md-5  nopad leftalign">
<h4 class="mn">What We Do?</h4>
<p>We are unifying the value chain of sales-to-service for agents</p>

</div>
<div class="col-xl-7 col-lg-7 col-md-7  nopad leftalign">
<p>Agencies and their staff often do not have technology tools that are simple and
     intuitive to manage their client and prospect relationships. From marketing and 
     relationship-building to the sales process to account nurturing and retention a 
     need existed for an all-in-one tool for Sales, Engagement,
     Analytics, and Mobility. InsuredMine fills that need.</p>

</div>   
</div>
<br>

    <div class="col-xl-12 col-lg-12 col-md-12 nopad leftalign ds">

        <div class="col-xl-5 col-lg-5 col-md-5  nopad leftalign">
        <h4 class="mn">Our Story</h4>
        <p>Spoiler alert: It didn’t begin with, ‘Once upon a time…’</p>
        
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7  nopad leftalign">
        <p>Our story has a humble beginning; but don’t let that fool you,
             because when faced with challenges, we test our limits to create 
             uncompromising solutions. Our love for innovation keeps us up all 
             night; and our personal experiences while dealing with outdated and 
             inadequate methods of managing insurance has left us craving for 
             innovation. One small thought has expanded into a diverse team committed 
             to solving the challenges that face the independent insurance agent.</p>
        
        </div>   
            
            </div>
      
    
    </div>